<html>

<head>
  <link rel="stylesheet" href="public/tailwind@1.9.6.css">
</head>

<body>
  <%- include('./head'); %>
    <h1 class="text-3xl font-bold underline">Hello <%= text %>
    </h1>
    <div id="parent-div"></div>
    <button data-hx-post="/clicked" data-hx-trigger="click" data-hx-target="#parent-div" data-hx-swap="innerHTML">
      Click Me!
    </button>
    <div x-data="{ count: 0 }">
      <button x-on:click="count++">Increment</button>
      <span x-text="count"></span>
    </div>
    <script src="public/htmx@1.6.1.js" type="module" async></script>
    <script src="public/alpine@3.7.1.js" type="module" async></script>
</body>

</html>